@use "../abstracts" as abs;

#about-me {
  display: grid;
  grid-gap: 1em;
  justify-items: center;
  text-align: center;
  grid-template-areas:
  "links"
  "title"
  "images"
  "text";
  padding: 1em;
  h2 {
    grid-area: title;
    font-family: abs.$large;
    margin: 0;
  }
  a, a:visited {
    margin: 0 .7em;
    color: abs.$dark;
  }
}

#lrg-img-container {
  grid-area: images;
  width: 48em;
  height: 26.6em;
  overflow: hidden;
  img {
    width: 20em;
    border-radius: 1em;
  }
}

#links {
  grid-area: links;
  margin: 1em 0;
}


