@use '../abstracts';

nav {
  display: flex;
  height: 2.5em;
  grid-area: nav;
  padding: .5em;
  align-items: center;

  img {
    height: 1.5em;
  }
}

.github {
  order: -1;
}

.about-nav{
  background-color: abstracts.$blue;
  a, a:visited {
    color: white;
  }
  a:hover, a:active {
    color: abstracts.$dark;
  }
}

.home-nav {
  a {
    color: abstracts.$dark;
  }
  a:hover, a:active {
    color: abstracts.$lightgreen;
  }
}

.logo-link {
  font-family: abstracts.$large;
  font-size: 1.5em;
  margin: 0 auto;
  display: none;
}

.nav-link {
  margin: 0 auto;
  line-height: .5em;
  font-size: 1.2em;
  font-weight: 600;
}