@use "../abstracts";

.dark {
  background-color: abstracts.$blue;
  color: white;
  a, a:visited {
    color: white;
  }
  img {
  border: solid 2px abstracts.$lightgreen;
  }
}

.light {
  background-color: white;
  color: abstracts.$dark;
  a, a:visited {
    color: abstracts.$dark;
  }
  img {
    border: solid 2px abstracts.$blue;
  }
}

.project-container {
  padding: 2em 1em;
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-areas:
  "title"
  "description"
  "img";
  grid-gap: 1em;
  a {
    grid-area: title;
    margin: 0 auto;
  }
  a:hover {
    color: abstracts.$blue;
  }
  p {
    margin: 0;
    grid-area: description;
  }
  img {
    width: 21em;
    grid-area: img;
    
  }
  .project-title {
    font-family: abstracts.$large;
    font-size: 1.5em;
  }
  
}
