@use "../abstracts" as abs;
@use '../mixins/' as m;

.dark {
  background-color: abs.$blue;
  color: white;
  a, a:visited {
    color: white;
  }
  a:hover, a:active {
    color: abs.$lightgreen;
  }
  img {
  border: solid 2px abs.$lightgreen;
  }
}

.light {
  background-color: white;
  color: abs.$dark;
  a, a:visited {
    color: abs.$dark;
  }
  a:hover, a:active {
    color: abs.$blue;
  }
  img {
    border: solid 2px abs.$blue;
  }
}

.project-container {
  padding: 2em 1em;
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-areas:
  "title"
  "description"
  "img";
  grid-gap: 1em;
  p {
    margin: 0;
    grid-area: description;
  }
  img {
    width: 21em;
    grid-area: img;
    
  }
}

.project-headerlinks {
  grid-area: title;
}

.project-github {
  margin: 0 auto;
}

.project-title {
  font-family: abs.$large;
  font-size: 1.5em;
}

@include m.mq(m.$tablet) {
  .dark {
    grid-template-columns: 27em 2% auto;
    grid-template-areas: 
    "img . title"
    "img . description"
    "img . description";
    text-align: left;
    justify-items: left;
    .project-title {
      margin-left: -.15em;
    }
  }

  .light {
    grid-template-columns: auto 2% 27em;
    grid-template-areas: 
    "title . img"
    "description . img"
    "description . img";
    text-align: right;
    justify-items: right;
  }

.project-container {
  grid-template-rows: 4.68em auto auto;
  padding: 4em 2.5em;
  grid-gap: 0;
  img {
    width: 27em;
  }
  p {
    margin-top: .5em;
  }
}

.project-headerlinks  {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: title;
  margin: auto 0;
  span {
    display: none;
  }
}

  .project-github {
    font-size: 1.2em;
    margin: 0;
  }

  .project-title {
    font-size: 2.2em;
    line-height: 1em;
  }
}

@include m.mq(m.$laptop) {
  .project-container {
    max-height: 35em;
    img {
      height: 22em;
      width: auto;
    }
  }
  .light {
    grid-template-columns: auto 2% auto;
    justify-content: end;
  }
  .dark {
    grid-template-columns: auto 2% auto;
  }
}

@include m.mq(m.$desktop) {
  .dark {
    grid-template-columns: minmax(50em, 56em) minmax(1em, 1em) minmax(23em, 26.25em);
    text-align: right;
    .project-headerlinks {
      justify-content: right;
    }
    .project-title {
      border-right: solid 2px white;
    }

  }
  .light {
    grid-template-columns: 30% 2% minmax(50em, 56em);
    text-align: left;
    .project-headerlinks {
      justify-content: left;
    }
    .project-title {
      border-right: solid 2px abs.$dark;
    }

  }
  .project-container {
    grid-template-rows: auto auto 0;
    max-height: 45em;
    padding: 4em 3.5em;
    justify-content: center;
    img {
      height: 28em;

    }
  }
  .project-headerlinks {
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    width: 100%
  }
  .project-title {
    margin-right: 1px;
    padding-right: .3em;
    height: 18%;
  }
  .project-github {
    margin: 0 .5em;
  }
}