@use './abstracts';
@import 'https://fonts.googleapis.com/css2?family=Pacifico&family=Sanchez&display=swap';
@import './abstracts';
@import './components';


body {
  box-sizing: border-box;
  font-family: abstracts.$small;
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
  grid-template-areas:
  "nav"
  "main"
  "footer"
}

main {
  grid-area: main;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: abstracts.$tablet) {

}