@use './abstracts' as abs;
@use './mixins/' as m;
@import 'https://fonts.googleapis.com/css2?family=Pacifico&family=Sanchez&display=swap';
@import './abstracts', './components', './mixins';

body {
  box-sizing: border-box;
  font-family: abs.$small;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
  "nav"
  "main" 
  "footer";
}


main {
  grid-area: main;
}

a {
  text-decoration: none;
}

@include m.mq(m.$tablet) {
  .App {
    grid-template-rows: 4em auto 2em;
  }
}